<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Login</button>
    </form>

    <br>
    <hr>

    <h1>Create new User</h1>
    <form action="/register" method="post">
        <input type="text" name="newUsername" placeholder="Username" />
        <input type="password" name="newPassword1" placeholder="Password" />
        <input type="password" name="newPassword2" placeholder="Confirm Password" />
        <button type="submit">Register</button>
    </form>
</body>
</html>