{{define "navbar"}}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li {{if eq .ContentTemplate "home.html"}} class="nav-item active" {{else}} class="nav-item" {{end}}>
                <a class="nav-link" href="/">Home</a>
            </li>
            <li {{if eq .ContentTemplate "newticket.html"}} class="nav-item active" {{else}} class="nav-item" {{end}}>
                <a class="nav-link" href="/tickets/new">New Ticket</a>
            </li>
            <li {{if eq .ContentTemplate "tickets.html"}} class="nav-item active" {{else}} class="nav-item" {{end}}>
                <a class="nav-link" href="/tickets/">Tickets</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Awesome Ticket System</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {{if .IsSignedIn}}
                <li class="nav-item">
                    <a class="nav-link" href="/signOut">Sign out</a>
                </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/signIn">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signUp">Sign up</a>
            </li>
            {{end}}
        </ul>
    </div>
</nav>
{{end}}