<!-- Matrikelnummern: 6813128, 1665910, 7612558 -->
{{define "newticket"}}
<div class="container">
    <h1 class="display-3">Create a new Ticket</h1>
    <hr>
    <form action="/createTicket" method="post">
        <div class="form-group">
            <label for="emailFormControl">Email address</label>
            <input type="email" class="form-control" name="email" id="emailFormControl" placeholder="Enter your email" />
        </div>
        <div class="form-group">
            <label for="subjectFormControl">Subject</label>
            <input type="text" class="form-control" name="subject" id="subjectFormControl" placeholder="Enter your topic" />
        </div>
        <div class="form-group">
            <label for="textAreaFormControl">Message</label>
            <textarea name="message" class="form-control" id="textAreaFormControl" rows="4" placeholder="Enter your message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
    </form>
</div>
{{end}}