{{define "tickets"}}
    <div>
        {{range .TicketsData}}
            <a href={{print "/tickets/" .Id}}>
                <div class="card card-cascade wider reverse">
                    <div class="card-body card-body-cascade text-center">
                        {{if eq .Editor $.Username}}
                            <span class="card-notify-badge">Assigned to you!</span>
                        {{end}}
                        <h4 class="card-title text-dark"><strong>{{.Reference}}</strong></h4>
                        <h6 class="font-weight-bold indigo-text py-1">{{.Client}}</h6>
                        <p class="ticketPreview card-text">{{(index .MessageList 0).Text}}</p>
                    </div>
                </div>
            </a>
            <br>
        {{end}}
    </div>
{{end}}